
<!--==================== PROJECTO ====================-->

<section class="projecto section" id="projectos">
    
            
        <div class="card-header">

            <div class="card-header-visible">
                
                <h2 class="section__title mtb-header">
                    Projecto
                </h2>

                <form method="get" class="searchForm" id="searchForm"
                style="display: none;">
                    <input type="text" name="search" id="search"
                    placeholder="Filtrar...">
                </form>
            </div>

        </div>

    <div class="card-list">
    
    {{#each projecto}}
        
        <a class="card-item border-radius" id="{{ id }}">
            <img src="/upload/{{ logotipo }}" alt="{{ titulo }}">
            {{#each projecto_habilidade}}
                <span class="developer">{{ habilidade.tecnologia }}</span>
            {{/each }}

            <h3>{{ titulo }}</h3>
            
            <div class="arrow">
                                    
                {{#if github}}
                    <button class="arraw-btn arraw-btn-github" data-href="{{ github }}">Github</button>
                {{else }}
                {{/if }}
                    
                {{#if live}}
                    <button class="arraw-btn arraw-btn-live" data-href="{{ live }}">Live</button>
                {{else }}
                {{/if }}

            </div>

        </a>

    {{/each  }}

    </div>

</section>

<script src="/js/projecto/acessoGIT_LIVE.js"></script>

